!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "UTF-8"}
    %title Object Oriented Programming
    %link{:href => "css/reset.min.css", :rel => "stylesheet"}/
    %link{:href => "css/main.min.css", :rel => "stylesheet"}/
  %body
    %h1 Object Oriented Programming
    %p Here is the explanation
    %h2 Class(data type definition)
    %p field(data member)
    %p method (function member)
    %h2 object
    %h2 Principles
    %ul
      %li encapsulation *methods act as "interface" to object's fileds.
      %li life is good.