!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "UTF-8"}
    %title Object Oriented Programming
    %link{:href => "css/reset.min.css", :rel => "stylesheet"}/
    %link{:href => "css/main.min.css", :rel => "stylesheet"}/
  %body
    %h1 Object Oriented Programming
    %p
      This is just an experiment.
    %h2 Class(data type definition)
    %ul
      %li field(data member)
      %li method (function member)
    %h2 Object Principles
    %ul
      %li encapsulation *methods act as "interface" to object's fileds.
