!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{:charset => 'UTF-8'}
    %title Object Oriented Programming
    %link{:href => 'dist/styles/main.min.css', :rel => 'stylesheet'}
  %body
    %h1 This is the title 2
    %p Here is the explanation
    %h2 Class(data type definition)
    %p field(data member)
    %p method (function member)
    %h2 object
    %h3 Principles
    %ul
      %li encapsulation *methods act as "interface" to object's fileds
      %li encapsulation *methods act as "interface" to object's fileds
    %footer
      %p
        Hola Joe!!